body {
    margin: 0;
    padding: 0;
}

.box {
    flex: 1; /* Faz com que a caixa principal ocupe o restante da altura disponível */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1px;
    position: fixed;
    width: 100%;
    bottom: 0;
}