body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.box {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    text-align: center; /* Centralizar o conteúdo na caixa */
}

h1 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 8px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
/* /calcunivap/css/styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.box {
    background-color: #fff;
    width: 80%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #333;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.arrecadacao {
    margin-top: 30px;
}

.aba {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}


result{
    font-size: 10;
}
